python-dotenv
pydantic
pydantic-settings
email-validator
fastapi
python-multipart
cryptography
blake3
argon2-cffi
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
redis
quart
uvicorn[standard]
requests
pytest
pytest-asyncio
pytest-cov
httpx
safety
flake8
pip-audit